{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>

<!-- Botão Criar Protegido -->
{% if request.user.is_authenticated and request.user.groups.all.0.name == "gestor-portfolio" %}
    <a href="{% url 'portfolio:nova_competencia' %}">[ + Adicionar Competência ]</a>
    <br><br>
{% endif %}

<section>
    {% for competencia in competencias %}
    <article style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
        <h3>{{ competencia.nome }}</h3>
        <p><strong>Tipo:</strong> {{ competencia.tipo }}</p>
        <p>Nível: {{ competencia.nivel }}/10</p>
        <p>{{ competencia.descricao }}</p>
        
        <!-- Botões CRUD Protegidos -->
        {% if request.user.is_authenticated and request.user.groups.all.0.name == "gestor-portfolio" %}
            <p>
                <a href="{% url 'portfolio:edita_competencia' competencia.id %}">Editar</a> | 
                <a href="{% url 'portfolio:apaga_competencia' competencia.id %}" onclick="return confirm('Tem a certeza que pretende apagar esta competência?')">Apagar</a>
            </p>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}