{% extends "portfolio/base.html" %}

{% block content %}
<h2>Formação Académica/Extra</h2>

<!-- Botão Criar Protegido -->
{% if request.user.is_authenticated and request.user.groups.all.0.name == "gestor-portfolio" %}
    <a href="{% url 'portfolio:nova_formacao' %}">[ + Adicionar Formação ]</a>
    <br><br>
{% endif %}

<section>
    {% for item in formacoes %}
    <article style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
        <h3>{{ item.titulo }}</h3>
        <p><strong>{{ item.instituicao }}</strong></p>
        <p>{{ item.dataInicio }} a {{ item.dataConclusao }}</p>
        <p><em>{{ item.tipo }}</em></p>
        <p>{{ item.descricao }}</p>
        
        <!-- Botões CRUD Protegidos -->
        {% if request.user.is_authenticated and request.user.groups.all.0.name == "gestor-portfolio" %}
            <p>
                <a href="{% url 'portfolio:edita_formacao' item.id %}">Editar</a> | 
                <a href="{% url 'portfolio:apaga_formacao' item.id %}" onclick="return confirm('Tem a certeza que pretende apagar esta formação?')">Apagar</a>
            </p>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}